{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" href="{% static 'style/basic.css' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Oswald:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <div id="form">
        <div id="second_part">
            <!-- <a href="/"><button><img src="{% static 'img/icon/facebook.png' %}" alt=""> Sign in using Facebook</button></a> -->
            <!-- <p>or you have a token?</p> -->
            <form action="/request" method="POST">
                {% csrf_token %}
                <input type="text" value="other" name="requestType" hidden>
                <textarea type="text" placeholder="Other" name="content" rows="3"></textarea>
                {% if error %}
                    <p>{{error}}</p>
                {% endif %}
                <button type="submit" class="token">Submit Request</button>
            </form>
        </div>
    </div>
</body>
</html>